:root{
    --color-principal: rgb(24, 162, 24);
}

.destacado{
    display: block;
    background-color: var(--color-principal);
    padding: 20px;
    border-radius: 20px;
    margin: 30px 0 ;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}