*{
        box-sizing: border-box;
}
body{
    background: url("../img/cielo.jpg") no-repeat fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.wrap{
    background-color: white;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}

.header{
    width: 100%;
}

.header__logo{
    background-color: #1a87c8;
    width: 300px;
    padding:10px;
    color: white;
    text-align: center;
    font-size: 18px;
}

.header__logo h1{
    margin: 0;
}

/* Barra de navegacion*/

.header__navegador{
    background-color: #333;
    width: 100%;
}

.header__navegador ul{
    display: flex;
    width: 100%;
    padding:0 ;
    flex-direction: row;
    align-items: center;
}

.header__navegador ul li{
    list-style: none;
    padding: 10px 20px;
    color: #ddd;
    font-size: 14px;
    font-weight: lighter;
    transition: all 300ms;
}

.header__navegador ul li:hover{
    cursor: pointer;
    background-color: white;
    color: #333;
}

/*Banner*/
.banner{
    background: #000000;
background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(130, 130, 130, 0) 10%, rgba(130, 130, 130, 0) 90%, rgba(0, 0, 0, 1) 100%);
    position: relative;
    width: 100%;
    height: 400px;
    border: 5px solid white;
    box-shadow: 0 0 8px #999;
    margin-bottom: 40px;
    box-sizing: border-box;
    overflow: hidden;
}

.banner__img{
    position: absolute;
    width: 100%;
}


.banner__arrowLeft{
    display: block;
    position: absolute;
    background: url("../img/arrow-izq.png");
    left: 0;
}


.arrow:hover{
    cursor: pointer;
}

.banner__arrowRight{
    display: block;
    position: absolute;
    background: url("../img/arrow-der.png");
    right: 0;
}

.arrow{
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100px;
    z-index: 2;
}



/*PRINCIPAL*/

.principal{
    display: flex;
    justify-content: space-between;
}

.principal__main{
    width: 70%;
}

.principal__aside{
    width: 25%;
}

.main__publicacion{
    width: 100%;
    text-align: justify;
    margin-bottom: 30px;
}

.publicacion__titulo{
    font-size: 25px;
    margin: 0;
    margin-bottom: 5px;
}



.publicacion__fecha{
    margin: 0;
    margin-bottom: 5px;
    font-size: 14px;
    color: #999;
}

.publicacion__contenido{
    font-size: 14px;
    margin: 0;
    margin-bottom: 10px;
}

.btn{
    display: block;
    padding: 10px;
    font-size: 14px;
    border: none;
}

.publicacion__btn{
    color: white;
    background-color: #1a87c8;
}

.principal__aside div{
    border-top: 8px solid #ccc;
    text-align: center;
}

.principal__aside  .aside__titulo{
    display: inline-block;
    margin: 0 auto;
    padding: 3px;
    background-color: white;
    font-size: 20px;
    transform: translateY(-20px);
}

.aside__sobreMi{
    margin-bottom: 40px;
}

.aside__sobreMi .sobreMi__descripcion{
    font-size: 14px;
    text-align:justify;
    margin-top: 0px;
}

.aside__sobreMi img{
    width: 100%;
}

input[type="text"],
input[type="email"],
input[type="password"]{
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #999;
    outline: none;
    transition: all 300ms;
}

.btn-form{
    width: 100%;
    border: 1px solid #ccc;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus{
   border: 1px solid #1a87c8;
   box-shadow: 0 0 5px #22a5f1;
}

.piePagina{
    background-color: #333333cd;
    max-width: 1200px;
    width: 100%;
    margin: 10px auto;
    color: white;
    font-size: 14px;
    padding: 5px 15px;
    text-align: center;
}


.btn-top{
    display: block;
    position: fixed;
    right: 40px;
    bottom: 40px;
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
    border: 2px solid white;
    border-radius: 100%;
    background-color: black;
    text-align: center;
    color: white;
    transition: all 300ms;
}

.btn-top:hover{
    background-color: rgb(43, 43, 43);
    cursor: pointer;
}

.oculto{
    display: none;
    bottom: -50px;
}



