body{
    padding: 0;
    margin: 0;
}

.caja{
    background-color: cadetblue;
    width: 300px;
    height: 300px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 30px;
    box-shadow: 0 0 15px #ccc;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: white;

}