body{
    background: url("img/montaña.jpg") no-repeat center center/cover;
    background-attachment: fixed;
    height: 100vh;

    margin: 0;
    font-family: sans-serif;
    flex-direction: column;
}

.container{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.8);
    color: white;
    font-family: sans-serif;
}

.reloj-content{
    height: 400px;
    width: 400px;
    
}

.reloj{
    border: 1px solid rgba( 255, 255, 255, 0.5);
    border-radius: 100%;
    text-align: center;
    line-height: 400px;
    font-size: 80px;
    margin-bottom: 50px;
}

.time{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    display: block;
    min-width: 100px;
    margin: auto;
    margin-bottom: 20px;
    padding: 10px 20px;
    border: 1px solid rgba( 255, 255, 255, 0.5);
    border-radius: 20px;
    background: none;
    background-color: rgba(red, green, blue, 0);
    color: white;
    font-size: 20px;
    transition: all 300ms;
}

.btn:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

.oculto{
    display: none;
}

